.container{height: 70vh;}
.box{
  padding:25px;
  text-align: center;
  color: white;
}
#box1{
  background-color: teal;
  width: 150px;
}
#box2{
  background-color: rgb(30, 146, 107);
  float: left;
  height: 325px;
  width: 150px;
}
#box3{
  background-color: rgb(115, 202, 173);
  height: 325px;
  width: 150px;
}
#box4{
  background-color: rgb(21, 109, 80);
  height: 50px;
  width: 150px;
}    
